<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guia Perguntas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Guia de perguntas</h1>
    <hr>
    <h3>Guia de perguntas</h3>

    <%= name %>
    <br>
    <%= lang %>
    <br>
    <%= empresa %>

    <% if(msg){%>
        <h3>isso é uma menssagem de erro!!</h3>
    <%}else{%>
        <h3>Nenhum erro!</h3>
    <%}%>

    <% products.forEach(function(products){%>

        <hr>
        <%= products.name%>
        <h3><font color=#006622>
            R$
            <%= products.price%>
            </font>
        </h3>
        <br>

    <%})%>    
    
</body>
</html>